body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ==========Header========== */

.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*======= Main nav =======*/
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  display: flex;
}

.nav-link {
  position: relative;
  padding: 24px 0;

  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.current:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404bbf;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=========== Logo=========== */
.link-logo {
  margin-right: 76px;

  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-text {
  color: #2e2f42;
}

/* ======Address======= */
.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  font-style: normal;
  gap: 40px;
}

.header-address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.nav-link:hover,
.header-address-link:focus,
.nav-link:focus {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}

/* ========Hero Section ==========*/
.hero {
  padding: 188px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  display: block;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ==========Preference section ===========*/
.preference {
  padding: 120px 0;
}

.preference-title,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: #2e2f42;
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.preference-icon {
}

.preference-list {
  display: flex;
  gap: 24px;
}

.preference-item {
  width: calc((100% - 24px * 3) / 4);
}

.preference-subtitle {
  margin-bottom: 8px;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.preference-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =========Team section ========*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.names {
  padding: 32px 0;
}

.team-item {
  width: calc((100% - 24px * 3) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 72px;

  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team-img,
.portfolio-img {
  display: block;
}

.team-subtitle {
  margin-bottom: 8px;
  text-align: center;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-paragraph {
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-item {
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/*========= Portfolio Section =========*/
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
}

.portfolio-item:hover .overlay {
  transform: translatey(0%);
}

.portfolio-item > .names {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio-subtitle {
  margin-bottom: 8px;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*========== Footer =========*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .link-logo {
  display: inline-block;
  margin: 0 0 16px;
  /* color: #4d5ae5; */
}

.footer .logo-text {
  color: #f4f4fd;
}

.footer-paragraph {
  width: 264px;

  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-wraper {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 120px;
}

.footer-text {
  margin-bottom: 16px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social {
  margin-right: 80px;
}

.footer .social-list {
  gap: 16px;
}

.accent:hover,
.accent:focus {
  background-color: #31d0aa;
}

/* ============subscribe ========*/
.subscribe {
}

.subscribe-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-form-label {
}

.footer-form-input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;

  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.fotter-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
  margin-left: 16px;
}

.fotter-form-btn:hover,
.fotter-form-btn:focus {
  background-color: #404bbf;
}

/* ============BackDrop======== */

.backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: #2e2f42;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  height: 120px;
  resize: none;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.comment-container {
  margin-bottom: 16px;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
  text-decoration: underline;
  color: #4d5ae5;
}

.input-checkbox:checked + .checkbox-label .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  cursor: pointer;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.svg-box {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: rgba(46, 47, 66, 1);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}

.modal-input:focus-within + .form-icon {
  fill: #4d5ae5;
}
