.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;

    @media screen and (min-width:1158px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-wraper {
    .link-logo {
        padding: 0;
        margin-bottom: 16px;

        @media screen and (max-width:767px) {
            display: block;
            text-align: center;
        }
    }

    .logo-text {
        color: #f4f4fd;
    }

    @media screen and (min-width:768px) and (max-width:1157px) {
        padding-left: 108px;
    }

    @media screen and (min-width:1158px) {
        display: flex;
        justify-content: space-between;
    }
}

.footer-wrap {
    @media screen and (max-width:767px) {
        margin-bottom: 72px;
    }

    @media screen and (min-width:768px) and (max-width:1157px) {
        display: flex;
        gap: 24px;
        margin-bottom: 72px;
    }

    @media screen and (min-width:1158px) {
        display: flex;
        gap: 120px;
    }
}

.footer-box {
    @media screen and (max-width:767px) {
        margin-bottom: 72px;
    }

    @media screen and (min-width:768px) {
        max-width: 264px;

    }
}

.footer-paragraph {

    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social {
    .social-list {
        gap: 16px;
    }
}

.social-text {
    margin-bottom: 16px;

    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.subscribe-text {
    margin-bottom: 16px;


    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.footer-form {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 24px;
    }
}

.footer-form-label {
    @media screen and (max-width:767px) {
        display: block;
        margin-bottom: 16px;
    }
}

.footer-form-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    opacity: 0.3;

    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;

    &::placeholder {
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
    }

    @media screen and (max-width:767px) {
        width: 100%;
    }
}

.fotter-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    min-width: 165px;
    cursor: pointer;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #404bbf;
    }

    @media screen and (max-width:767px) {
        margin: 0 auto;
    }
}

.icon-footer {
    margin-left: 16px;
}

.accent {

    &:hover,
    &:focus {
        background-color: #31d0aa;
    }
}