.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// ======= Main menu =======


.nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1157px) {
        gap: 120px;
    }

    @media screen and (min-width: 1158px) {
        gap: 76px;
    }

}

.nav-list {
    display: flex;
    gap: 40px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav-item {
    display: flex;
}

.nav-link {
    position: relative;
    padding: 24px 0;

    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    &.current {
        color: #404bbf;
    }

    &.current::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;

        border-radius: 2px;
        background-color: #404bbf;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        color: #404bbf;
    }
}

.header-address {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-address-list {
    @media screen and (min-width: 1158px) {
        display: flex;
        gap: 40px;
    }

}

.header-address-item {}

.header-address-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #404bbf;
    }

    @media screen and (min-width:1158px) {
        font-size: 16px;
    }
}