  $primary-text-color: #434455;
  $secondary-text-color: #2e2f42;
  $white-text-color: #ffffff;
  $primary-background-color: #fff;
  $secondary-background-color: #f4f4fd;
  $background-modal: #fcfcfc;
  $background-icon: #8e8f99;
  $accent-color: #4d5ae5;
  $secondary-accent-color: #404bbf;
  $footer-accent-color: #31d0aa;
  $button-close-color: #e7e9fc;

  //   Reset default styles

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  a {
      text-decoration: none;
  }

  img {
      display: block;
      max-width: 100%;
      height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 0;
  }